<h1>Hello</h1>
<ul>
    {{#each questions}}
    <li>
        <a href="/questions/{{this._id}}">{{this.title}}</a>
        {{!-- <a href="/questions/{{this._id}}?_method=delete" method="delete">DELETE</a> --}}

        <form action="/questions/delete/{{this._id}}?_method=DELETE" method="post">
            <input name="_method" type="submit" value="DELETE"/>
        </form>
    </li>
    {{/each}}
</ul>

<form action="/questions" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title here...">
    <label for="question">Question</label>
    <input type="text" id="question" name="question" placeholder="Question here...">
    <input type="submit" value="Submit">
</form>